configuration {
  modi: "window,run,ssh";
  font: "SF Mono 12";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "/home/nigel/.local/share/rofi/themes/catppuccin-frappe.rasi"
